annotated-doc
annotated-types
anyio
bcrypt
cffi
click
colorama
cryptography
ecdsa
exceptiongroup
fastapi
greenlet
h11
idna
joblib
passlib
pyasn1
pycparser
pydantic
pydantic_core
PyMySQL
python-jose
python-multipart
python-dotenv
rsa
six
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
gunicorn
scikit-learn
numpy
psycopg2-binary
